# Converting Coordinate System into another using pyproj

In [1]:
import pandas as pd
import os
from pyproj import Proj, transform

In [2]:
os.getcwd()

os.chdir("../../../workspace/")

for i in sorted(os.listdir('.')):
    print(i)

TB_O_SB_STATN.txt
VCForPython27.msi
building_2016_info.csv
buildings_2015.csv
buildings_2015.dbf
buildings_2015s.csv
buildings_2016.csv
bus_stationlist_201402.txt
bus_stationlist_201609.txt
data
developed_area.csv
developed_area.dbf
dropped_hospitals.csv
hospitals.csv
hospitals_complete.csv
map1.html
�ܺε�����.zip

## Loading Hospitals File

In [3]:
hospitals = pd.read_csv("hospitals.csv")

In [4]:
hospitals.head(10)

,STDR_YM,VIATR_FCLTY_CD,VIATR_FCLTY_NM,ADRES_NM,TELNO,XCNTS_VALUE,YDNTS_VALUE,BLCK_CD
0,201602,치과병원,한그루치과병원,"서울특별시 마포구 마포대로 78 3층 301호(도화동, 자람빌딩)",02-716-2600,195566,449155,156463
1,201602,일반병원,정동병원,서울특별시 동작구 양녕로 283 (상도1동),02-810-7900,195534,445054,21524
2,201602,상급종합병원,중앙대학교병원,서울특별시 동작구 흑석로 102 (흑석동),1800-1114,196540,445289,23074
3,201602,요양병원,강남요양병원,서울특별시 서초구 서초중앙로 197 (반포동),02-832-0151,201068,444436,24038
4,201602,상급종합병원,학교법인가톨릭학원가톨릭대학교서울성모병원,서울특별시 서초구 반포대로 222 (반포동),02-1588-1511,200468,444478,20457
5,201602,일반병원,고도일병원,서울특별시 서초구 강남대로 505 지하4층~지하1층 2층~6층 (반포동),02-1577-8907,202014,445284,20512
6,201602,치과병원,서울귀한이치과병원,서울특별시 서초구 잠원로 24 (반포동),02-523-2875,200875,445287,23957
7,201602,일반병원,세바른병원,서울특별시 서초구 서초중앙로 47 (서초동),02-1588-3094,201357,442945,23848
8,201602,일반병원,21세기병원,서울특별시 서초구 서초중앙로 39 (서초동),02-3477-0880,201392,442872,343871
9,201602,치과병원,서울탑치과병원,서울특별시 서초구 서초중앙로 39 5층 (서초동),02-588-2833,201392,442872,343871

## Setting coordinate system

Original coordinate system was Korea 2000 / Central Belt (epsg:5181).

I converted it into WGS84 which is the standard coordinate system.

In [5]:
inProj = Proj(init='epsg:5181')
outProj = Proj(init='epsg:4326')

In [6]:
 x2, y2 = transform(inProj, outProj, 195566, 449155)
print(x2, y2)

(126.94982801955958, 37.54189387493605)

In [7]:
def convertCoords(df):
    x2, y2 = transform(inProj, outProj, df['XCNTS_VALUE'].tolist(), df['YDNTS_VALUE'].tolist())
    return pd.DataFrame({'lon':x2, 'lat':y2})

In [8]:
new_hospitals = convertCoords(hospitals)

In [9]:
new_hospitals.head()

         lat         lon
0  37.541894  126.949828
1  37.504944  126.949491
2  37.507065  126.960867
3  37.499386  127.012078
4  37.499765  127.005293

In [16]:
hospitals[['lat','lon']] = new_hospitals

In [19]:
hospitals.head(5)

,STDR_YM,VIATR_FCLTY_CD,VIATR_FCLTY_NM,ADRES_NM,TELNO,XCNTS_VALUE,YDNTS_VALUE,BLCK_CD,lon,lat
0,201602,치과병원,한그루치과병원,"서울특별시 마포구 마포대로 78 3층 301호(도화동, 자람빌딩)",02-716-2600,195566,449155,156463,126.949828,37.541894
1,201602,일반병원,정동병원,서울특별시 동작구 양녕로 283 (상도1동),02-810-7900,195534,445054,21524,126.949491,37.504944
2,201602,상급종합병원,중앙대학교병원,서울특별시 동작구 흑석로 102 (흑석동),1800-1114,196540,445289,23074,126.960867,37.507065
3,201602,요양병원,강남요양병원,서울특별시 서초구 서초중앙로 197 (반포동),02-832-0151,201068,444436,24038,127.012078,37.499386
4,201602,상급종합병원,학교법인가톨릭학원가톨릭대학교서울성모병원,서울특별시 서초구 반포대로 222 (반포동),02-1588-1511,200468,444478,20457,127.005293,37.499765

In [13]:
hospitals_drop = hospitals.drop('STDR_YM', axis=1)
hospitals_drop = hospitals_drop.drop('TELNO', axis=1)
hospitals_drop = hospitals_drop.drop('BLCK_CD', axis=1)

In [14]:
#hospitals_drop.to_csv("dropped_hospitals.csv", index=False, encoding='utf-8')

In [15]:
#hospitals.to_csv('hospitals_complete.csv', index=False, encoding='utf-8')

## Loading Developed Areas in Seoul File

In [20]:
developed_area = pd.read_csv('developed_area.csv', encoding='utf-8')
developed_area.head(5)

,"TRD_ID,C,4","TRD_NM,C,40","XMIN,N,10,0","YMIN,N,10,0","XMAX,N,10,0","YMAX,N,10,0","X_AXIS,N,10,0","Y_AXIS,N,10,0","SHAPE_AREA,N,13,2"
0,1870,교대역_1,200689,443116,201281,443789,201024,443481,204810.22
1,1867,개봉동 현대아파트 인근,187102,443074,187356,443589,187244,443362,89582.30
2,1866,뱅뱅사거리,202481,443296,202784,443720,202632,443501,63679.73
3,2256,혜화역 대학로_3,199784,453550,200166,453976,200021,453707,74020.44
4,1875,서울 강남구 대치역_1,205295,443630,205622,443882,205461,443754,31627.42

In [21]:
def convertCoords(df):
    x2, y2 = transform(inProj, outProj, df['X_AXIS,N,10,0'].tolist(), df['Y_AXIS,N,10,0'].tolist())
    return pd.DataFrame({'lon':x2, 'lat':y2})

In [22]:
new_dev_area = convertCoords(developed_area)

In [23]:
new_dev_area.head(5)

         lat         lon
0  37.490781  127.011579
1  37.489621  126.855763
2  37.490958  127.029762
3  37.582918  127.000238
4  37.493225  127.061753

In [24]:
developed_area[['lat','lon']] = new_hospitals
developed_area.head(5)

,"TRD_ID,C,4","TRD_NM,C,40","XMIN,N,10,0","YMIN,N,10,0","XMAX,N,10,0","YMAX,N,10,0","X_AXIS,N,10,0","Y_AXIS,N,10,0","SHAPE_AREA,N,13,2",lat,lon
0,1870,교대역_1,200689,443116,201281,443789,201024,443481,204810.22,37.541894,126.949828
1,1867,개봉동 현대아파트 인근,187102,443074,187356,443589,187244,443362,89582.30,37.504944,126.949491
2,1866,뱅뱅사거리,202481,443296,202784,443720,202632,443501,63679.73,37.507065,126.960867
3,2256,혜화역 대학로_3,199784,453550,200166,453976,200021,453707,74020.44,37.499386,127.012078
4,1875,서울 강남구 대치역_1,205295,443630,205622,443882,205461,443754,31627.42,37.499765,127.005293

In [26]:
developed_area = developed_area[['TRD_NM,C,40', 'lat', 'lon']]
developed_area.head(5)

    TRD_NM,C,40        lat         lon
0         교대역_1  37.541894  126.949828
1  개봉동 현대아파트 인근  37.504944  126.949491
2         뱅뱅사거리  37.507065  126.960867
3     혜화역 대학로_3  37.499386  127.012078
4  서울 강남구 대치역_1  37.499765  127.005293

In [27]:
developed_area.to_csv("dev_area.csv", encoding='utf-8')

## Loading Bus and Train Stations List File

In [34]:
bus = pd.read_csv('bus_stationlist_201609.txt', delimiter="|", encoding='utf-8')
train = pd.read_csv('TB_O_SB_STATN.txt', delimiter='|', encoding='utf-8')

In [43]:
train.head(5)

  GU_NM  GU_CD  SUB_STA_SN KOR_SUB_NM  POINT_X  POINT_Y
0   중랑구  11260          40       용마산역   207607   452624
1   강북구  11305          41     미아삼거리역   202663   457082
2   강북구  11305          42        수유역   202238   459793
3   강북구  11305          43        미아역   202304   458542
4   강동구  11740          44       상일동역   214745   450818

In [46]:
def convertCoords(df):
    x2, y2 = transform(inProj, outProj, df['POINT_X'].tolist(), df['POINT_Y'].tolist())
    return pd.DataFrame({'lon':x2, 'lat':y2})

In [50]:
new_train = convertCoords(train)
train[['lat', 'lon']] = new_train

In [51]:
train.head(5)

  GU_NM  GU_CD  SUB_STA_SN KOR_SUB_NM  POINT_X  POINT_Y        lat         lon
0   중랑구  11260          40       용마산역   207607   452624  37.573129  127.086111
1   강북구  11305          41     미아삼거리역   202663   457082  37.613322  127.030161
2   강북구  11305          42        수유역   202238   459793  37.637749  127.025356
3   강북구  11305          43        미아역   202304   458542  37.626478  127.026100
4   강동구  11740          44       상일동역   214745   450818  37.556770  127.166877

In [52]:
train.to_csv('train.csv', encoding='utf-8')